/* .loginBtn
{
        background-color: #199319;
        color: white;
        padding: 15px 25px;
        text-decoration: none;
}

.loginBtn:hover
{
        background-color: #223094;
} */
/* .group
{
    height: 350px;
    align-items: center;
    position: relative;
    align-items: center;
    text-transform: uppercase;
    margin: auto;
    width: 300px;
    left: auto;
    padding: 20px;
    top: 215px;
    background-color:#1B1212;
    border-radius: 20px;

} */


